:root {
  --prosemirrorEditor-border-radius: 2px;
  --prosemirrorEditor-border-color: #e6e6e6;

  --prosemirrorEditor-min-height: 300px;

  --prosemirrorEditor-grid__base-spacing: 4px;

  --prosemirrorEditor-font__stack: 'Open Sans', sans-serif;
  --prosemirrorEditor-font__base-size: 12px;
}
